In [1]:
import os 
import geopandas as gpd
import xarray as xr
import netCDF4 as nc
import pandas as pd
os.chdir("C:/Users/cshat/eo/EFFIS-ERA5-EUROPE")

In [2]:
test1 = pd.read_csv('data/processed/effis/extracted_climate_data.csv')

In [3]:
test1

,point_idx,time,x,y,fg,y.1,x.1,tx,x.2,y.2,rr,x.3,y.3,hu
0,0,2011-01-01,27.75,36.15,3.46,36.149861,27.74986,13.500000,27.74986,36.14986,0.0,27.74986,36.149861,68.407997
1,0,2011-01-02,27.75,36.15,3.45,36.149861,27.74986,14.420000,27.74986,36.14986,0.0,27.74986,36.149861,73.989502
2,0,2011-01-03,27.75,36.15,2.86,36.149861,27.74986,14.589999,27.74986,36.14986,21.8,27.74986,36.149861,84.968948
3,0,2011-01-04,27.75,36.15,2.51,36.149861,27.74986,13.420000,27.74986,36.14986,28.8,27.74986,36.149861,70.630501
4,0,2011-01-05,27.75,36.15,3.80,36.149861,27.74986,13.190000,27.74986,36.14986,0.0,27.74986,36.149861,81.995499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49295,9,2024-06-26,23.95,40.85,2.41,40.849861,23.94986,30.740000,23.94986,40.84986,0.0,23.94986,40.849861,NaN
49296,9,2024-06-27,23.95,40.85,2.43,40.849861,23.94986,29.730000,23.94986,40.84986,0.0,23.94986,40.849861,NaN
49297,9,2024-06-28,23.95,40.85,2.53,40.849861,23.94986,28.680000,23.94986,40.84986,0.0,23.94986,40.849861,NaN
49298,9,2024-06-29,23.95,40.85,2.46,40.849861,23.94986,29.980000,23.94986,40.84986,0.0,23.94986,40.849861,NaN
49299,9,2024-06-30,23.95,40.85,2.87,40.849861,23.94986,30.630000,23.94986,40.84986,0.0,23.94986,40.849861,NaN

In [16]:
fg_0 = "data/era5/processed/E-OBS/fg_0.nc"
hu_0 = "data/era5/processed/E-OBS/hu_0.nc"
rr_0 = "data/era5/processed/E-OBS/rr_0.nc"
tx_0 = "data/era5/raw/ERA5_EOBS_01Deg_1995-2010/tx_ens_mean_0.1deg_reg_1995-2010_v30.0e.nc"
fg_1 = "data/era5/processed/E-OBS/fg_1.nc"
hu_1 = "data/era5/processed/E-OBS/hu_1.nc"
rr_1 = "data/era5/processed/E-OBS/rr_1.nc"
tx_1 = "data/era5/raw/ERA5_EOBS_01Deg_2011-2024/tx_ens_mean_0.1deg_reg_2011-2024_v30.0e.nc"
fg_0 = xr.open_dataset(fg_0)
hu_0 = xr.open_dataset(hu_0)
rr_0 = xr.open_dataset(rr_0)
tx_0 = xr.open_dataset(tx_0)
fg_1 = xr.open_dataset(fg_1)
hu_1 = xr.open_dataset(hu_1)
rr_1 = xr.open_dataset(rr_1)
tx_1 = xr.open_dataset(tx_1)

effis = r"C:\Users\cshat\eo\Forest-Fires-Europe\data\processed\Fire_Data\EFFIS\effis-filtered.shp"
effis = gpd.read_file(effis)

In [17]:
tx_0 = tx_0.sel(time=slice('2000-01-01', None))
tx_1 = tx_1.sel(time=slice('2000-01-01', None))
tx_0 = tx_0.rename({'longitude': 'x', 'latitude': 'y'})
tx_1 = tx_1.rename({'longitude': 'x', 'latitude': 'y'})

In [6]:
tx_1

<xarray.Dataset> Size: 6GB
Dimensions:  (y: 465, x: 705, time: 4930)
Coordinates:
  * y        (y) float64 4kB 25.05 25.15 25.25 25.35 ... 71.15 71.25 71.35 71.45
  * x        (x) float64 6kB -24.95 -24.85 -24.75 -24.65 ... 45.25 45.35 45.45
  * time     (time) datetime64[ns] 39kB 2011-01-01 2011-01-02 ... 2024-06-30
Data variables:
    tx       (time, y, x) float32 6GB ...
Attributes:
    E-OBS_version:  30.0e
    Conventions:    CF-1.4
    References:     http://surfobs.climate.copernicus.eu/dataaccess/access_eo...
    history:        Fri Aug 30 11:42:54 2024: ncks --no-abc -d time,22280,272...
    NCO:            netCDF Operators version 5.1.8 (Homepage = http://nco.sf....

In [ ]:
tx = xr.merge([tx_0, tx_1])
fg = xr.merge([fg_0, fg_1])
hu = xr.merge([hu_0, hu_1])
rr = xr.merge([rr_0, rr_1])

In [20]:
effis_subset = effis.loc[:10]
effis_subset

,Date,COUNTRY,ForestType,AREA_HA,geometry
0,2024-08-21,EL,Conifer,3,"POLYGON ((27.74844 36.14392, 27.74847 36.1434,..."
1,2020-07-16,EL,Mixed,59,"POLYGON ((24.02732 37.69824, 24.02807 37.6975,..."
2,2000-01-01,EL,Mixed,846,"POLYGON ((24.01099 37.72039, 24.013 37.72009, ..."
3,2024-06-29,EL,Mixed,57,"POLYGON ((23.79226 38.18259, 23.79176 38.18186..."
4,2018-10-25,EL,Mixed,610,"POLYGON ((23.94573 40.10388, 23.94572 40.10391..."
5,2021-07-02,EL,Mixed,4,"POLYGON ((23.78374 40.12803, 23.78385 40.12794..."
6,2009-07-14,EL,Mixed,46,"POLYGON ((23.77716 40.13892, 23.77575 40.13912..."
7,2022-08-10,EL,Conifer,313,"POLYGON ((24.75563 40.7002, 24.75694 40.70048,..."
8,2000-01-01,EL,Conifer,103,"POLYGON ((24.77312 40.74272, 24.77364 40.74228..."
9,2000-01-01,EL,Broadleaf,138,"POLYGON ((23.99062 40.86313, 23.98813 40.86185..."
10,2023-10-20,UA,Mixed,4,"POLYGON ((35.89984 45.26307, 35.89993 45.2629,..."

In [ ]:
import geopandas as gpd
import xarray as xr
import pandas as pd
from tqdm import tqdm  # Import tqdm for progress bar

# Assume effis is your GeoPandas DataFrame with polygons
# Assume fg_0, tx_0, rr_0, hu_0, fg_1, tx_1, rr_1, hu_1 are your xarray Datasets

# Set the CRS of effis to match ERA5 (EPSG:4326)
effis = effis.to_crs(epsg=4326)

# Compute centroids
effis['centroid'] = effis.geometry.centroid

# Extract x (longitude) and y (latitude) from the centroid column
effis['x'] = effis['centroid'].x  # longitude
effis['y'] = effis['centroid'].y  # latitude

# Filter for the first 10 points (or 1 as you have now)
effis_subset = effis.iloc[:1]  # Change to [:10] for 10 points, etc.

# Define datasets with variable names, split by _0 and _1
datasets_0 = {
    'fg': fg_0,  # Variable 'fg' in Dataset fg_0
    'tx': tx_0,  # Variable 'tx' in Dataset tx_0
    'rr': rr_0,  # Variable 'rr' in Dataset rr_0
    'hu': hu_0   # Variable 'hu' in Dataset hu_0
}

datasets_1 = {
    'fg': fg_1,  # Variable 'fg' in Dataset fg_1
    'tx': tx_1,  # Variable 'tx' in Dataset tx_1
    'rr': rr_1,  # Variable 'rr' in Dataset rr_1
    'hu': hu_1   # Variable 'hu' in Dataset hu_1
}

# Dictionary to store extracted data for all variables
extracted_data = {}

# Loop over the subset with a progress bar
for idx, row in tqdm(effis.iterrows(), total=len(effis), desc="Processing points"):
    x = row['x']  # longitude
    y = row['y']  # latitude
    
    # Extract data for this centroid from each dataset (_0 and _1 separately)
    point_data_0 = {}
    point_data_1 = {}
    
    # Extract from _0 datasets, excluding x and y coordinates
    for var_name, ds in datasets_0.items():
        data = ds[var_name].sel(x=x, y=y, method='nearest')
        point_data_0[var_name] = pd.DataFrame({var_name: data.values}, index=data.time.values)
    
    # Extract from _1 datasets, excluding x and y coordinates
    for var_name, ds in datasets_1.items():
        data = ds[var_name].sel(x=x, y=y, method='nearest')
        point_data_1[var_name] = pd.DataFrame({var_name: data.values}, index=data.time.values)
    
    # Combine _0 and _1 data for each variable by appending along time (rows)
    point_data = {}
    for var_name in point_data_0.keys():
        point_data[var_name] = pd.concat([point_data_0[var_name], point_data_1[var_name]], axis=0)
    
    # Combine data for this point across variables (columns)
    combined_point_data = pd.concat(point_data.values(), axis=1)
    extracted_data[idx] = combined_point_data

# Combine all points into a single DataFrame
result = pd.concat(extracted_data, axis=0, names=['point_idx', 'time'])

# Reset index to make point_idx and time columns
result = result.reset_index()

# Merge with effis_subset to retain its data
effis_subset_df = effis_subset.drop(columns=['geometry', 'centroid']).reset_index().rename(columns={'index': 'point_idx'})
result_with_effis = result.merge(effis_subset_df, on='point_idx', how='left')

# Print the result
print(result_with_effis)

# Save to CSV
result_with_effis.to_csv('data/processed/effis/extracted_climate_data.csv', index=False)

In [ ]:
import geopandas as gpd
import xarray as xr
import pandas as pd

# Assume effis is your GeoPandas DataFrame with polygons
# Assume fg_0, tx_0, rr_0, hu_0, fg_1, tx_1, rr_1, hu_1 are your xarray Datasets

# Set the CRS of effis to match ERA5 (EPSG:4326)
effis = effis.to_crs(epsg=4326)

# Compute centroids
effis['centroid'] = effis.geometry.centroid

# Extract x (longitude) and y (latitude) from the centroid column
effis['x'] = effis['centroid'].x  # longitude
effis['y'] = effis['centroid'].y  # latitude

# Filter for the first 10 points
effis_subset = effis.iloc[:1]

# Define datasets with variable names, split by _0 and _1
datasets_0 = {
    'fg': fg_0,  # Variable 'fg' in Dataset fg_0
    'tx': tx_0,  # Variable 'tx' in Dataset tx_0
    'rr': rr_0,  # Variable 'rr' in Dataset rr_0
    'hu': hu_0   # Variable 'hu' in Dataset hu_0
}

datasets_1 = {
    'fg': fg_1,  # Variable 'fg' in Dataset fg_1
    'tx': tx_1,  # Variable 'tx' in Dataset tx_1
    'rr': rr_1,  # Variable 'rr' in Dataset rr_1
    'hu': hu_1   # Variable 'hu' in Dataset hu_1
}

# Dictionary to store extracted data for all variables
extracted_data = {}

# Loop over the first 10 points in effis_subset
for idx, row in effis.iterrows():
    x = row['x']  # longitude
    y = row['y']  # latitude
    
    # Extract data for this centroid from each dataset (_0 and _1 separately)
    point_data_0 = {}
    point_data_1 = {}
    
    # Extract from _0 datasets, excluding x and y coordinates
    for var_name, ds in datasets_0.items():
        data = ds[var_name].sel(x=x, y=y, method='nearest')
        point_data_0[var_name] = pd.DataFrame({var_name: data.values}, index=data.time.values)
    
    # Extract from _1 datasets, excluding x and y coordinates
    for var_name, ds in datasets_1.items():
        data = ds[var_name].sel(x=x, y=y, method='nearest')
        point_data_1[var_name] = pd.DataFrame({var_name: data.values}, index=data.time.values)
    
    # Combine _0 and _1 data for each variable by appending along time (rows)
    point_data = {}
    for var_name in point_data_0.keys():
        point_data[var_name] = pd.concat([point_data_0[var_name], point_data_1[var_name]], axis=0)
    
    # Combine data for this point across variables (columns)
    combined_point_data = pd.concat(point_data.values(), axis=1)
    extracted_data[idx] = combined_point_data

# Combine all points into a single DataFrame
result = pd.concat(extracted_data, axis=0, names=['point_idx', 'time'])

# Reset index to make point_idx and time columns
result = result.reset_index()

# Merge with effis_subset to retain its data
# Convert effis_subset to a regular DataFrame and set index to match point_idx
effis_subset_df = effis_subset.drop(columns=['geometry', 'centroid']).reset_index().rename(columns={'index': 'point_idx'})
result_with_effis = result.merge(effis_subset_df, on='point_idx', how='left')

# Print the result
print(result_with_effis)

# Save to CSV
result_with_effis.to_csv('data/processed/effis/extracted_climate_data.csv', index=False)

C:\Users\cshat\AppData\Local\Temp\ipykernel_24716\2682644826.py:12: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  effis['centroid'] = effis.geometry.centroid

In [14]:
result_with_effis

,point_idx,time,fg,tx,rr,hu,Date,COUNTRY,ForestType,AREA_HA,x,y
0,0,2000-01-01,1.36,15.700000,0.0,59.234497,2024-08-21,EL,Conifer,3,27.747752,36.143312
1,0,2000-01-02,1.63,13.200000,0.0,67.673996,2024-08-21,EL,Conifer,3,27.747752,36.143312
2,0,2000-01-03,2.11,10.429999,0.0,72.589996,2024-08-21,EL,Conifer,3,27.747752,36.143312
3,0,2000-01-04,2.23,7.340000,0.0,55.384998,2024-08-21,EL,Conifer,3,27.747752,36.143312
4,0,2000-01-05,2.01,9.340000,0.0,60.322998,2024-08-21,EL,Conifer,3,27.747752,36.143312
...,...,...,...,...,...,...,...,...,...,...,...,...
8943,0,2024-06-26,2.91,34.349998,0.0,NaN,2024-08-21,EL,Conifer,3,27.747752,36.143312
8944,0,2024-06-27,2.93,31.769999,0.0,NaN,2024-08-21,EL,Conifer,3,27.747752,36.143312
8945,0,2024-06-28,3.19,30.789999,0.0,NaN,2024-08-21,EL,Conifer,3,27.747752,36.143312
8946,0,2024-06-29,3.07,31.519999,0.0,NaN,2024-08-21,EL,Conifer,3,27.747752,36.143312
8947,0,2024-06-30,3.47,31.939999,0.0,NaN,2024-08-21,EL,Conifer,3,27.747752,36.143312